*,
*:before,
*:after {
   box-sizing: border-box;
}

/* Buttons and link */

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover, a:active, a:focus {
  color: white;
}

.btn:hover, .btn:active, .btn:focus {
  cursor: pointer;
  background: #b5bab2;
}


/* Shared */

body {
  background: #a7bc98;
  font-family: 'Amatic SC', cursive;
}

h1 {
  display: inline-block;
  margin: 10px 0;
  padding: 3px 10px; 
  border-radius: 5px;
  background: #3e423b;
  box-shadow: 3px 3px 3px #000;
  color: white;
  font-size: 60px;
  font-weight: bold;
}

h2 {
  padding: 3px;
  font-size: 30px;
  background: white;
}


/* Main content */

.title {
  text-align: center;
}

.container {
  min-width: 600px;
  padding: 10px 0;
  text-align: center;
}

.info-wrapper {
  text-align: center;
}

.info {
  border-radius: 5px;
  box-shadow: 2px 2px 2px #707070;
}

.score-container, .settings-container {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
}

.score-container {
  margin-right: 210px;
}


/* Grid */

.grid {
  display: inline-block;
  border: 3px solid #a3a1a2;
  border-radius: 3px;
  background: white;
  box-shadow: 5px 5px 5px #707070;
}

.row {
  font-size: 0;
}

.col {
  width: 28px;
  height: 28px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
}

.food {
  overflow: hidden;
}

.snake {
  background: #5f6859;
}

.food img {
  width: 25px;
  height: 25px;
}

.snake-head {
  overflow: hidden;
}

.snake-head img {
  width: 28px;
  height: 25px;
}


/* Play button */

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background: #3e423b;
  box-shadow: 5px 5px 5px #000;
  text-align: center;
  color: white;
  font-size: 45px;
  transform: translate(-50%, -50%);
}

/* Game over screens */

.game-over {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
  background: #3e423b;
  box-shadow: 5px 5px 5px #000;
  text-align: center;
  color: white;
  font-size: 35px;
  transform: translate(-50%, -50%);
}

.final-score-container {
  min-width: 300px;
  margin: 15px 0;
}

.play-again {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  background: white;
  box-shadow: 3px 3px 3px #000;
  color: black;
}

/* Footer */

footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 20px 0;
  text-align: center;
}

footer small:first-child {
  margin-right: 20px;
}

